/* -----Nav bar Css Start----- */

body {
  margin: 0;
}

.header {
  background-color: #0071dc;
  display: flex;
  align-items: center;
  padding: 25px;
  gap: 5rem;
  justify-content: center;
}

.link {
  background: none;
  border: none;
  text-decoration: none;
  color: #777;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 0;
}

.NavHead {
  background: none;
  border: none;
  text-decoration: none;
  color: white;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 0;
}

.dropdown.active > .NavHead,
.link:hover {
  color: black;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100% + 0.25rem);
  background-color: white;
  padding: 0.75rem;
  border-radius: 0.25rem;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  opacity: 0;
  height: 600px;
  overflow: scroll;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown.active > .NavHead + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.information-grid {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 4rem;
}

.dropdown-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.dropdown-links a {
  margin-bottom: 35px;
}
/* cart css code add by shoaib (16th dec 9:30pm */

      
        #popup{
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        .but{
            margin:10px;
        }
        .flex{
            display: flex;
        }
        #btn{
            justify-content: center;
        }
        .but{
            border: 1px solid black;
            width: 180px;
            text-align: center;
            height:25px;
            border-radius:25px;
        }
        #popup{
            display: none;
            margin-left: 65%;
            background-color: white;
        }
        .header>img{
            background-color: transparent;
            margin-left:0%;
            width:60px;
            height:60px;
            cursor:pointer;
        } 
        .header .img{
            cursor: pointer;
            width:60px;
            height:60px;
            margin-top:10px;
            margin-left: 0%;
            border-radius:40px
        }
        .head>span>h2{
           cursor: pointer;
            border: 1px solid transparent;
            width:28px;
            margin-left:100%;
            line-height:70px;
            border-radius:3px;
            color: white;
            text-align: center;
            font-weight: 350;
            font-size:50px;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        .head{
            display:flex;
            background-color: #0071dc;
            height:120px;
        }
        .head h2{
            color:white;
            padding-left: 30px; 
            line-height:70px;
            margin-right:58%;
            font-size:51px;
        }
        #btn{
          cursor: pointer;
          width:90%;
          margin: auto;
          justify-content: space-evenly;
        }
        #btn>.but
        {
          margin-left: 34%;
          margin-bottom: 60px;
        }
        #popup>h3{
          width: 45%;
          margin: auto;
        }
        #popup>img{
          width:90%;
          height:360px;
          margin: auto;
        }
        #popup>h3 + h4{
          width:34%;
          font-weight:550;
          line-height:30px;
          margin:auto;
        }
        #popup>h3 +h4 +h4{
          width:70%;
          margin:auto;
          margin-bottom:20px;
        }

/* -----Nav bar Css End----- */

/* searchBar start*/
.searchBar {
  width: 560px;
  height: 40px;
  border-radius: 50px;
}
.searchBar > input {
  border: none;
  width: 555px;
  height: 35px;
  border-radius: 50px;
}

.searchIcon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.search_button {
  border: none;
  padding: 0;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #ffc220;
  margin: auto;
}

#containerSearch {
  background-color: white;
  height: 40px;
  width: 600px;
  display: flex;
  border-radius: 50px;
}


/* sliding-Css Start*/

.slider{    
  overflow: hidden;
  display: flex;
  margin-top: 40px;
}

.slider .card{
  background-color:white;
  flex: 1;
  margin:0 20px;
  height: 500px;
  width: 1300px;
  margin: auto;
  
}

.slider .card .img{
  height: 500px;
  width: 100%;
  

}

.slider .card .img img{
  height:100%;
  width:100%;
border: blanchedalmond;
border-radius: 20px;
  object-fit:cover;
}




.owl-dots{
  text-align: center;
  margin-top: 20px;
}
.owl-dot{
  height: 13px;
  width: 13px;
  margin: 0 0px;
  margin-top: -23px;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all 0.30s ease;
}


.owl-dot.active{
  width: 35px;
  border-radius: 14px;
  
}
.owl-dot.active,
.owl-dot:hover{
  background:grey;
  
}

/* sliding-Css end */
 /* <--------------------------------------------------devesh> */
 .items {
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.container-my {
  /* border: red 2px solid; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 120px 220px;
  grid-gap: 20px;
  height: 400px; 
   width: 75%;
  margin:auto;


  grid-template-areas:
      "nav Box2 Box3 "
      "Box1 Box2 Box3 ";

}
 

#div-i {
  display: flex;
  height: 40px;
  width: 90%;
  /* border: red 2px solid; */
  justify-content: space-between;
  font-size: 20px;
  /* margin: 3% auto; */



}

#ps {
  font-weight: bolder;

}

#viewall,
#viewall>a {
  color: black;
 
}
#vap>div>a,#hlp-ii>div>a{
   font-size: 17px;
}

#seetimes {

  /* width: 100px; */
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
  font-size: 10px;

}

.my_button {
  background-color: transparent;
  border: none;
  width: 100px;
  height: 37px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;



}

#item-1 {
  grid-area: nav;
  background-color: rgb(230, 241, 252);
  /* border: 2px solid red; */
  font-weight: bold;
}

#item-2 {
  grid-area: Box1;
  /* border: 2px solid yellow; */

}

#vap {
  display: flex;
  justify-content: space-around;


}

#vap>div {
  height: 60%;
  width: 30%;
  /* border: 2px solid black; */
  text-align: center;


}

#vap>div>a {
  margin-top: 0px;
  text-decoration: none;
  color: black
}

#item-3 {
  grid-area: Box2;
  /* border: 2px solid green; */

}

#item-4 {
  grid-area: Box3;
  /* border: 2px solid purple; */
}

.img-popular-section {
  height: 100px;
  width: 100px;
}

/* <-------------------------------------------------> */
#hlp-i {


  /* border: 2px solid green; */
  margin: 10px;
}

#hlp-i>span {
  font-size: 20px;
  padding-top: 15px;
  font-weight: bolder;
}

#hlp-ii {
  height: 80%;
  width: 100%;
  /* border: 2px solid purple; */
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
}

#hlp-ii>div {
  height: 40%;
  width: 37%;
  /* border: 2px solid teal; */
  margin: auto;
  text-align: center;
  padding: 10px;
}

#hlp-ii>div>a {
  text-decoration: none;

  color: black;
}

/* ---- add by shoaib (17th dec 5:45a.m all css code for static work of rows  */


/* css code for gift for you portion add by shoaib (6:10a.m 17th dec) */

  #gift{
    width: 70%;
    margin: auto;
  }
  #gift>h2{
    padding-left: 35px;
    line-height:60px;
    font-weight: 400;
  }
  #check{
          display: flex;
          border: 1px solid transparent;
          width: 100%;
          height: 360px;
          margin: auto;
      }
      #box1{
          margin: auto;
      }
      #box1>img{
          cursor: pointer;
      }
      #box1>h4{
          padding-left:65px;
          cursor: pointer;
          font-weight: 400;
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }
      #gift>hr{
        border:0.5px solid whitesmoke
      }



  #mainbox>h2{
        font-weight: 400;
        margin:auto;
        margin-top: 20px;
        margin-bottom:20px;
        width:66%;
        border: 1px solid transparent;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    #inmainbox{
        width: 70%;
        height:420px;
        display: flex;
        margin: auto;
        border: 1px solid transparent;
        justify-content: space-evenly;
    }
    #cartItem{
      width: 70%;
      height:auto;
      display: flex;
      margin: auto;
      border: 1px solid transparent;
      justify-content: space-evenly;
    }
    #box{
        width:400px;
        height: 400px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        border:1px solid transparent;
        margin-left: 20px;
        border-radius:5px;
    }
    #box>button{
       margin-top:40px;
        padding: 6.5px 20px;
        border-radius: 50px;
        border: 1.5px solid black;
        color: black;
        background-color:white;
        margin-left: 20px;
        font-weight: bold;
    }
    #box>button:hover{
        background-color:black;
        color: white;
        cursor: pointer;
    }
    #box>img{
        width: 400px;
        height: 220px;
        margin: auto;
        border-radius: 5px;
        cursor: pointer;
    }
    h3{
        margin-left: 20px;
        line-height:40px;
        font-weight: 500;
        cursor: pointer;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    h4{
        cursor: pointer;
        margin-left: 20px;
        line-height: 25px;
        width: 90%;
        color: black;
        font-weight: 200;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .last>button{
    padding: 6.5px 15px;
    }

/* css add by shoaib (17th dec 5:45a.m) ended here */




/*-----footer Css Start-----*/

html {
  justify-content: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.nav {
  background-color: #0071dc;
  height: 88px;
  width: 100%;
  align-items: center;
  padding: 24px;
  justify-content: center;
  display: flex;
}
.menu {
  flex: 1;
  text-align: left;
}
.menu > ul {
  display: inline-block;
  list-style-type: none;
  padding-left: 20px;
}

.menu > ul > li {
  display: inline-block;
  margin-left: 30px;
  text-align: center;
  font-weight: 300;
}

.menu > ul > li:hover {
  background-color: #004c92;
  height: 40px;
  width: 160px;
  border-radius: 50px;
}
a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.searchmenu {
  padding-right: 50px;
  display: flex;
}

.searchmenu > input {
  height: 45px;
  width: 500px;
  border-radius: 50px;
}
.myitem {
  flex: 1;
  text-align: right;
}
.myitem > ul {
  display: inline-block;
  list-style-type: none;
  padding-left: 20px;
}
.myitem > ul > li {
  display: inline-block;
  margin-left: 30px;
  text-align: center;
  font-weight: 300;
}
.myitem > ul > li:hover {
  background-color: #004c92;
  height: 40px;
  width: 150px;
  border-radius: 50px;
}
.lightBlue {
  background-color: #e6f1fc;
  height: 160px;
  padding: 10px;
  text-align: center;
  padding-top: 30px;
}
.lightBlue > button {
  border-radius: 50px;
  height: 50%;
  width: 10%;
  margin-top: 5px;
  font-size: 15px;
}
.feed {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.darkBlue {
  background-color: #004f9a;
  color: white;
  text-align: center;
  padding-bottom: 10px;
}
.darkBlue > ul {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  line-height: 1.5;
  padding: 34px;
  list-style-type: none;
  line-height: 20px;
}
.darkBlue > ul > li {
  padding-left: 25px;
}
/*-----footer Css end-----*/
