img{
  margin-left: 20px;
  width:420px;
  height: 120px;
}
#box{
    /* background-image: url('https://cdn.corporate.walmart.com/dims4/WMT/f1be111/2147483647/strip/true/crop/2332x1224+0+149/resize/1200x630!/quality/90/?url=https%3A%2F%2Fcdn.corporate.walmart.com%2Fc6%2Fa8%2F8e08a80f49a98a55c8c6a941d22d%2Fsparkbackground.jpg'); */
    width:480px;
    height:700px;
    border: 1px solid transparent;
    margin: auto;
    margin-top:50px;
}
body{
    background-color:whitesmoke;
    background-image:url("https://p.kindpng.com/picc/s/1-16648_northrop-grumman-foundation-walmart-logo-png-white-transparent.png");
    background-repeat: no-repeat;
    background-size:98%;
}
h1{
    width:90%;
    margin:auto;
    text-align: center;
    color: rgb(28, 115, 214);
}
hr{
    border:1px solid rgb(22, 98, 221);
    margin-bottom: 60px;
}
label{
    width: 400px;
    height: 30px;
    font-size: 22px;  
    color: black;
    font-weight: bold;
    margin-left: 30px;
}
input{
    margin-left: 30px;
    width: 400px;
    height: 30px;
    margin-bottom: 22px;
}
.submit{
    width:200px;
    height: 30px;
    border-radius:30px
}
